.circleci
.dockerignore
.git
.gitignore
.github
.rspec

deploy-eks/
deploy-scripts/
scripts/
spec/
tmp/
node_modules/
coverage/
log/*.log

package.json
package_lock.json
docker-compose*
Dockerfile
Makefile
